In [1]:
 # Import Module
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import date, datetime

# Folder Path
base_path = "D:\\Python Projects\\Data Extraction Project\\Text file data extraction - (LM Bangkok - Data extraction)\\Data\\"
# base_path = "d:\\Sanket\\Projects\\Snehal Mam\\06. Text file data extraction - (LM Bangkok - Data extraction)\\Recon\\"
error_log_file = 'Error_log' + '.txt'
error_log_file_path = base_path + 'Failure\\' + error_log_file

# Change the directory
os.chdir(base_path)

file_names_excel = []

for file in os.listdir():
    if file.endswith(".txt"):
        file_names_excel.append(file)

cols = ['TERM.ID', 'BATCH-INV.NO.', 'TYPE', 'DATE', 'CARDNO.', 'AMOUNT', 'AUTH.', 'POS', 'SITECODE', 'TRACE']

In [2]:
file_names_excel

['SettlementText_LEBANG17_20211221.txt',
 'SettlementText_LEBANG17_20211222.txt',
 'SettlementText_LEBANG17_20211223.txt',
 'SettlementText_LEBANG17_20211224.txt',
 'SettlementText_LEBANG17_20211225.txt',
 'SettlementText_LEBANG17_20211226.txt',
 'SettlementText_LEBANG17_20211227.txt']

In [3]:
input_excel_file_name = 'SettlementText_LEBANG17_20211221.txt'

In [4]:
dict = {}
lst = []
lst2 = []
cols_lst = []
counter_1 = 0
counter_2 = 0
df = pd.DataFrame()

# for input_file_name in file_names:
# input_file_name = 'Data\\SettlementText_LEBANG17_20211221.excel'
with open(input_excel_file_name) as f:
    dict[input_excel_file_name] = f.readlines()

lines = dict.get(input_excel_file_name)

# print(dict.keys())


for i in lines:
    lst.append(lines[counter_1].split("\n"))
    counter_1+=1


for i in lst[6]:
    lst2.append(lst[6][counter_2].split(" "))
    counter_2+=1

cols_lst = [x for x in lst2[0] if x]
cols_lst = cols_lst[:10]

now = datetime.now().strftime("%d/%m/%Y %H:%M:%S")

# missing columns name
missing = list(set(cols) - set(cols_lst))


for j in tqdm(range(3, len(lst)-1)):
    lst2 = []
    # counter = 0
    # # for i in lst[j]:
    lst2.append(lst[j][0].split(" "))
        # counter+=1
    lst3 = [x for x in lst2[0] if x]
    if len(lst3)>2:
        if lst3[-2].isdigit():
            lst3.insert(-1, "")
        
    df1 = pd.DataFrame(lst3)
    df_t =df1.transpose()
    df = df.append(df_t)
    # print(df_final)

100%|██████████| 339/339 [00:00<00:00, 414.43it/s]

In [5]:
df.drop(df.columns[[10, 11,12]], axis=1, inplace=True)
df.set_axis(cols_lst, axis=1, inplace = True)
df.dropna(thresh=8, inplace=True)
df = df[pd.to_numeric(df['TERM.ID'], errors='coerce').notnull()]

In [6]:
df

,TERM.ID,BATCH-INV.NO.,TYPE,DATE,CARDNO.,AMOUNT,AUTH.,POS,SITECODE,TRACE
0,07839,BRNO.0147,MERCHANT,NO.,205611544,ACCOUNT,NO.,1474881065,NaN,NaN
0,50192354,094353-000204,S,20/12/21,477376XXXXXX4921,"1,177.00",454654,05,V,000196
0,50192354,094353-000206,S,20/12/21,494351XXXXXX5108,"1,000.00",005191,05,V,000197
0,50192354,094353-000207,S,20/12/21,441770XXXXXX5630,738.30,005667,05,V,000203
0,50192354,094354-000216,S,21/12/21,455596XXXXXX7223,"3,384.55",565453,05,V,000210
0,50192354,094354-000217,S,21/12/21,477376XXXXXX4921,"1,177.00",493147,05,V,000211
0,50192354,094354-000223,S,21/12/21,414720XXXXXX5446,"6,900.00",06293I,01,,000222
0,50192356,094355-000040,S,19/12/21,528257XXXXXX0412,"3,951.78",161009,05,M,000038
0,50192360,094356-000179,S,21/12/21,540492XXXXXX4184,500.00,904753,05,M,000095
0,50192360,094356-000181,S,21/12/21,430445XXXXXX4742,500.00,031863,05,V,000096
0,50192360,094356-000183,S,21/12/21,478448XXXXXX3954,300.00,001986,05,V,000097
0,50192360,094356-000185,S,21/12/21,478448XXXXXX3954,200.00,002157,05,V,000098
0,50192360,094356-000187,S,21/12/21,439137XXXXXX2437,500.00,232677,05,V,000099
0,50192360,094356-000189,S,21/12/21,454325XXXXXX4460,500.00,391900,05,V,000100
0,50192360,094356-000191,S,21/12/21,540716XXXXXX1475,"1,000.00",272222,05,M,000101
0,07839,BRNO.0147,MERCHANT,NO.,205611544,ACCOUNT,NO.,1474881065,NaN,NaN
0,50192360,094356-000193,S,21/12/21,540492XXXXXX6739,"1,000.00",922942,05,M,000102
0,50192360,094356-000195,S,21/12/21,478448XXXXXX3346,500.00,005205,05,V,000103
0,50192360,094356-000197,S,21/12/21,441770XXXXXX1447,500.00,008339,05,V,000104
0,50192360,094356-000199,S,21/12/21,356342XXXXXX0991,500.00,655089,05,,000105
0,50192360,094356-000201,S,21/12/21,455205XXXXXX0972,500.00,007535,05,V,000106
0,50192360,094356-000203,S,21/12/21,525668XXXXXX8640,500.00,H06419,05,M,000107
0,50192360,094356-000205,S,21/12/21,528011XXXXXX5903,500.00,265975,05,,000108
0,50192360,094356-000207,S,21/12/21,557755XXXXXX5115,"1,499.00",039904,05,F,000109
0,50192360,094356-000209,S,21/12/21,356342XXXXXX2745,500.00,052534,05,,000110
0,50192360,094356-000211,S,21/12/21,409338XXXXXX5152,500.00,008026,05,V,000111
0,50192360,094356-000213,S,21/12/21,540716XXXXXX9679,500.00,640841,05,M,000112
0,50192360,094356-000215,S,21/12/21,430445XXXXXX8161,500.00,403015,05,V,000115
0,50192360,094356-000217,S,21/12/21,512250XXXXXX5105,500.00,079740,05,M,000116
0,50192362,094357-000210,S,21/12/21,403375XXXXXX1205,"2,197.20",009771,05,V,000117
0,50192362,094357-000212,S,21/12/21,473703XXXXXX9207,"1,311.16",063050,05,,000118
0,50192362,094357-000214,S,21/12/21,556656XXXXXX2611,"4,795.74",H16399,05,M,000119
0,50192362,094357-000216,S,21/12/21,438857XXXXXX4380,"1,464.74",07357D,05,,000120
0,50192362,094357-000218,S,21/12/21,441770XXXXXX9106,"3,190.74",007777,05,V,000121
0,50192362,094357-000220,S,21/12/21,454632XXXXXX5123,211.86,002099,05,,000122
0,50192362,094357-000222,S,21/12/21,473703XXXXXX9207,211.86,081601,05,,000123
0,50192362,094357-000225,S,21/12/21,541496XXXXXX3633,"2,844.06",547851,05,M,000124
0,50192362,094357-000227,S,21/12/21,477376XXXXXX3820,"3,784.59",363448,05,V,000126
0,50192362,094357-000229,S,21/12/21,409344XXXXXX5510,"7,032.04",001673,05,V,000127
0,07839,BRNO.0147,MERCHANT,NO.,205611544,ACCOUNT,NO.,1474881065,NaN,NaN
0,50192363,094358-000048,S,21/12/21,422072XXXXXX1402,"2,000.00",097352,05,,000032
0,50192363,094358-000050,S,21/12/21,523910XXXXXX8047,"11,000.00",190684,05,M,000034
0,50192363,094358-000052,S,21/12/21,522440XXXXXX1664,"12,000.00",364718,05,M,000035
0,50192363,094358-000054,S,21/12/21,409344XXXXXX6156,"2,000.00",001792,05,V,000036
0,50192363,094358-000056,S,21/12/21,438679XXXXXX1479,"1,000.00",635246,05,V,000037
0,50192363,094358-000058,S,21/12/21,557755XXXXXX5808,"4,000.00",079419,05,F,000038
0,00048,BRNO.0147,MERCHANT,NO.,206564494,ACCOUNT,NO.,1474881065,NaN,NaN
0,60021627,000433-014228,S,21/12/21,454325XXXXXX5912,"7,000.00",327623,01,C,014228
0,60021627,000433-014446,S,21/12/21,430445XXXXXX3865,"20,789.05",753700,01,C,014446
0,60021627,000433-021462,S,21/12/21,356518XXXXXX4043,"2,000.00",103168,81,,021462
0,60021627,000433-022855,S,21/12/21,472629XXXXXX6809,"9,107.56",000233,01,T,022855
0,60021627,000433-025886,S,21/12/21,453978XXXXXX6329,"16,369.10",073630,01,T,025886
0,60021627,000433-028427,S,21/12/21,462845XXXXXX6654,"6,900.00",008204,01,T,028427
0,60021627,000433-966077,S,21/12/21,456598XXXXXX3251,"7,407.56",002521,01,T,966077
0,60021627,000433-973928,S,21/12/21,540492XXXXXX9139,"2,150.00",604252,01,C,973928
0,04796,BRNO.0147,MERCHANT,NO.,205611544,ACCOUNT,NO.,1474881065,NaN,NaN
0,25073574,000011-000172,S,20/12/21,623355XXXXXX3598,"3,354.45",014915,05,,000204
0,25073574,000012-000177,S,21/12/21,379375XXXXX2004,"3,382.41",850364,05,,000215

In [ ]:
df.to_excel("check.xlsx", index=False)